:root {
  --bodybgcolor: aliceblue;
  --mainheadercolor: lightblue;
  --mainfontscolor: darkblue;  
}

body {
  background: var(--bodybgcolor);
}

h1 {
  text-align: center;
  color: var(--mainfontscolor);
  background-color: var(--mainheadercolor);
}
