:root {
  --bodybgcolor: aliceblue;
  --mainheadercolor: rgb(218, 242, 250);
  --mainfontscolor: rgb(1, 1, 122); 
  --mainlist: none;
  --mainYellow: rgba(255, 255, 0, 0.747);
  --lightBlue: rgba(68, 189, 230, 0.87);
  --mainvapbgcolor: rgba(95, 158, 160, 0.147); 
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--bodybgcolor);
}