:root {
  --bodybgcolor: aliceblue;
  --mainheadercolor: lightblue;
  --mainfontscolor: darkblue; 
  --mainlist: none; 
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--bodybgcolor);
}

header ol li {
  list-style-type: var(--mainlist);
}

header ol {
  display: flex;
  justify-content: space-around;
}
